<%- include('./newsLetter') %>
<footer class="pt-3">
    <div class="container">
        <div class="footer-inner">
            <div class="row">
                <div class="col-lg-4">
                    <div class="store-info d-block w-100">
                        <img src="/arquivos/logo-footer.png" class="mb-5" alt="<%- accountTitle %>">
                        <div class="footer-info">
                            <p class="mb-2">Siga nossas redes sociais</p>
                            <ul class="social-nav p-0 m-0 d-flex align-items-center mb-3">
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-fb.png" alt="Facebook"></a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-insta.png" alt="Instagram"></a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-twitter.png" alt="Twitter"></a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-youtube.png" alt="Youtube"></a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-whats.png" alt="WhatsApp"></a>
                                </li>
                                <li class="nav-item mr-1">
                                    <a href="#" class="nav-link"><img src="/arquivos/icon-social-pint.png" alt="Pinterest"></a>
                                </li>
                            </ul>
                            <p class="mb-1">Reclamações ou Sugestões</p>
                            <p><strong><a href="mailto:atendimento@overboard.com.br;">atendimento@overboard.com.br</a></strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-nav">
                        <p><strong>Institucional</strong></p>
                        <ul class="footer-list">
                            <li class="footer-item"><a href="#" class="footer-link">Sobre a overboard</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Politica de privacidade</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Regulamentos</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Afiliados</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Revista Overboard</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Atletas Overboard</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Cartões Overboard</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-nav">
                        <p><strong>Ajuda e Suporte</strong></p>
                        <ul class="footer-list">
                            <li class="footer-item"><a href="#" class="footer-link">Central de atendimento</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Fale conosco</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Como comprar</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Entrega</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Trocas e devoluções</a></li>
                            <li class="footer-item"><a href="#" class="footer-link">Dúvidas frequentes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-certifies">
                        <p><strong>Certificados</strong></p>
                        <div class="certify-list d-flex w-100 align-items-center justify-content-between mb-3">
                            <img src="/arquivos/icon-pci.png" alt="" />
                            <img src="/arquivos/icon-google.png" alt="" />
                            <img src="/arquivos/icon-vtex.png" alt="" />
                        </div>
                        <p><strong>Pagamento</strong></p>
                        <div class="card-list">
                            <img src="/arquivos/icon-cards.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <address class="d-flex w-100 justify-content-between align-items-center">
            <p class="mb-0">2020© Overboard todos os direitos reservados.</p>
            <p class="mb-0">Desenvolvido por <a href="https://www.7ways.com.br">7ways</a></p>
        </address>
    </div>
</footer>