<section id="newsLetter">
    <div class="container">
        <div class="newsletter-inner">
            <img src="/arquivos/icon-envelope.png" alt="">
            <div class="content">
                <p class="mb-0"><strong>Receba notícias e novidades</strong></p>
                <p class="mb-0">Receba no seu e-mail todas as nossas ofertas e lançamentos além de descontos exclusivos</p>
            </div>
            <div class="form">
                <input type="text" class="form-conrol" name="email" placeholder="Insira seu e-mail">
                <input type="text" class="form-conrol" name="phone" placeholder="Insira seu telefone">
                <button class="btn btn-dark">Me inscrever</button>
            </div>
        </div>
    </div>
</section>