<section id="topbar" class="d-block w-100">
    <div class="container">
        <div class="topbar-inner d-flex align-items-center justify-content-between">
            <div class="left-content d-flex align-items-center">
                <h2> Loja online de surf e skate</h2>
                <span class="bar-separator mx-4">|</span>
                <p>Frete grátis acima de R$199,00</p>
            </div>
            <div class="right-content">
                <ul class="top-nav d-flex align-items-center">
                    <li class="nav-item">
                        <a href="/nossas-lojas" class="nav-link">Nossas lojas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sac" class="nav-link">Central de atendimento (11) 2950-5392</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account#/orders" class="nav-link">Meus pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contato" class="nav-link">Fale conosco</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>