<div class="prateleira vitrine n3colunas">
    <h2>Teste</h2>
    <ul>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="feminino">

            <span class="box-item text-center" data-sku="24353">

                <a class="product-image" title="Jaqueta Jeans FreeSurf Denim Azul"
                    href="http://overboard.vtexlocal.com.br/jaqueta-jeans-freesurf-denim-azul-0616726003/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/181327-350-350/teste-sem-imagem.jpg?v=637193809577000000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Jaqueta Jeans FreeSurf Denim Azul"
                        href="http://overboard.vtexlocal.com.br/jaqueta-jeans-freesurf-denim-azul-0616726003/p">
                        Jaqueta Jeans FreeSurf Denim Azul
                    </a>
                </b>
                <span class="price">
                    <a title="Jaqueta Jeans FreeSurf Denim Azul"
                        href="http://overboard.vtexlocal.com.br/jaqueta-jeans-freesurf-denim-azul-0616726003/p">
                        <span class="old-price">
                            DE: <strong>R$ 307,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 149,90
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba4811"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="24353"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="24353"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/jaqueta-jeans-freesurf-denim-azul-0616726003/p"
                        class="buy-button-asynchronous-product-url-4811"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/jaqueta-jeans-freesurf-denim-azul-0616726003/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod24353">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-24353">
                    <div class="buy-button-asynchronous message-user4811"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_4811" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="tamanhos-especiais">

            <span class="box-item text-center" data-sku="17766">

                <a class="product-image" title="Camiseta Quiksilver Vert Times Plus Size"
                    href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-vert-times-plus-size-0476801013/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/174740-350-350/teste-sem-imagem.jpg?v=637193580110670000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Camiseta Quiksilver Vert Times Plus Size"
                        href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-vert-times-plus-size-0476801013/p">
                        Camiseta Quiksilver Vert Times Plus Size
                    </a>
                </b>
                <span class="price">
                    <a title="Camiseta Quiksilver Vert Times Plus Size"
                        href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-vert-times-plus-size-0476801013/p">
                        <span class="old-price">
                            DE: <strong>R$ 109,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 77,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba3867"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="17766"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="17766"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/camiseta-quiksilver-vert-times-plus-size-0476801013/p"
                        class="buy-button-asynchronous-product-url-3867"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-vert-times-plus-size-0476801013/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod17766">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-17766">
                    <div class="buy-button-asynchronous message-user3867"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_3867" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="26733">

                <a class="product-image" title="Boné New Era New York Yankees MLB Verde"
                    href="http://overboard.vtexlocal.com.br/bone-new-era-new-york-yankees-mlb-verde-0741820020/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/183707-350-350/teste-sem-imagem.jpg?v=637194603941770000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Boné New Era New York Yankees MLB Verde"
                        href="http://overboard.vtexlocal.com.br/bone-new-era-new-york-yankees-mlb-verde-0741820020/p">
                        Boné New Era New York Yankees MLB Verde
                    </a>
                </b>
                <span class="price">
                    <a title="Boné New Era New York Yankees MLB Verde"
                        href="http://overboard.vtexlocal.com.br/bone-new-era-new-york-yankees-mlb-verde-0741820020/p">
                        <span class="old-price">
                            DE: <strong>R$ 149,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 74,90
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba5318"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="26733"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="26733"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/bone-new-era-new-york-yankees-mlb-verde-0741820020/p"
                        class="buy-button-asynchronous-product-url-5318"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/bone-new-era-new-york-yankees-mlb-verde-0741820020/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod26733">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-26733">
                    <div class="buy-button-asynchronous message-user5318"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_5318" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="27412">

                <a class="product-image" title="Moletom New Era ADD Preto"
                    href="http://overboard.vtexlocal.com.br/moletom-new-era-add-preto-0746812024/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/184386-350-350/teste-sem-imagem.jpg?v=637194617248400000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Moletom New Era ADD Preto"
                        href="http://overboard.vtexlocal.com.br/moletom-new-era-add-preto-0746812024/p">
                        Moletom New Era ADD Preto
                    </a>
                </b>
                <span class="price">
                    <a title="Moletom New Era ADD Preto"
                        href="http://overboard.vtexlocal.com.br/moletom-new-era-add-preto-0746812024/p">
                        <span class="old-price">
                            DE: <strong>R$ 299,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 180,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba5570"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="27412"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="27412"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/moletom-new-era-add-preto-0746812024/p"
                        class="buy-button-asynchronous-product-url-5570"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/moletom-new-era-add-preto-0746812024/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod27412">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-27412">
                    <div class="buy-button-asynchronous message-user5570"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_5570" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="11073">

                <a class="product-image" title="Moletom Hang Loose Rasta"
                    href="http://overboard.vtexlocal.com.br/moletom-hang-loose-rasta-0366812022/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/168047-350-350/teste-sem-imagem.jpg?v=637190978419900000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Moletom Hang Loose Rasta"
                        href="http://overboard.vtexlocal.com.br/moletom-hang-loose-rasta-0366812022/p">
                        Moletom Hang Loose Rasta
                    </a>
                </b>
                <span class="price">
                    <a title="Moletom Hang Loose Rasta"
                        href="http://overboard.vtexlocal.com.br/moletom-hang-loose-rasta-0366812022/p">
                        <span class="old-price">
                            DE: <strong>R$ 269,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 153,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba2805"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="11073"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="11073"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/moletom-hang-loose-rasta-0366812022/p"
                        class="buy-button-asynchronous-product-url-2805"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/moletom-hang-loose-rasta-0366812022/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod11073">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-11073">
                    <div class="buy-button-asynchronous message-user2805"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_2805" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="21620">

                <a class="product-image" title="Camiseta Hurley Dark"
                    href="http://overboard.vtexlocal.com.br/camiseta-hurley-dark-0601901038/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/178594-350-350/teste-sem-imagem.jpg?v=637193731726930000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Camiseta Hurley Dark"
                        href="http://overboard.vtexlocal.com.br/camiseta-hurley-dark-0601901038/p">
                        Camiseta Hurley Dark
                    </a>
                </b>
                <span class="price">
                    <a title="Camiseta Hurley Dark"
                        href="http://overboard.vtexlocal.com.br/camiseta-hurley-dark-0601901038/p">
                        <span class="old-price">
                            DE: <strong>R$ 99,99</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 85,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba4575"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="21620"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="21620"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/camiseta-hurley-dark-0601901038/p"
                        class="buy-button-asynchronous-product-url-4575"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/camiseta-hurley-dark-0601901038/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod21620">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-21620">
                    <div class="buy-button-asynchronous message-user4575"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_4575" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="14947">

                <a class="product-image" title="Camiseta Quiksilver Embroyed"
                    href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-embroyed-0471801010/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/171921-350-350/teste-sem-imagem.jpg?v=637191105527200000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Camiseta Quiksilver Embroyed"
                        href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-embroyed-0471801010/p">
                        Camiseta Quiksilver Embroyed
                    </a>
                </b>
                <span class="price">
                    <a title="Camiseta Quiksilver Embroyed"
                        href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-embroyed-0471801010/p">
                        <span class="old-price">
                            DE: <strong>R$ 79,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 56,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba3345"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="14947"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="14947"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/camiseta-quiksilver-embroyed-0471801010/p"
                        class="buy-button-asynchronous-product-url-3345"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/camiseta-quiksilver-embroyed-0471801010/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod14947">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-14947">
                    <div class="buy-button-asynchronous message-user3345"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_3345" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="26712">

                <a class="product-image" title="Chinelo New Era Guadalupe Cinza"
                    href="http://overboard.vtexlocal.com.br/chinelo-new-era-guadalupe-cinza-0741817005/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/183686-350-350/teste-sem-imagem.jpg?v=637194410786770000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Chinelo New Era Guadalupe Cinza"
                        href="http://overboard.vtexlocal.com.br/chinelo-new-era-guadalupe-cinza-0741817005/p">
                        Chinelo New Era Guadalupe Cinza
                    </a>
                </b>
                <span class="price">
                    <a title="Chinelo New Era Guadalupe Cinza"
                        href="http://overboard.vtexlocal.com.br/chinelo-new-era-guadalupe-cinza-0741817005/p">
                        <span class="old-price"></span>
                        <span class="best-price">
                            POR: R$ 169,90
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba5303"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="26712"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="26712"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/chinelo-new-era-guadalupe-cinza-0741817005/p"
                        class="buy-button-asynchronous-product-url-5303"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/chinelo-new-era-guadalupe-cinza-0741817005/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod26712">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-26712">
                    <div class="buy-button-asynchronous message-user5303"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_5303" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="feminino">

            <span class="box-item text-center" data-sku="25614">

                <a class="product-image" title="Cropped Rip Curl Floral Marinho"
                    href="http://overboard.vtexlocal.com.br/cropped-rip-curl-floral-marinho-0621816000/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/182588-350-350/teste-sem-imagem.jpg?v=637193848346730000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Cropped Rip Curl Floral Marinho"
                        href="http://overboard.vtexlocal.com.br/cropped-rip-curl-floral-marinho-0621816000/p">
                        Cropped Rip Curl Floral Marinho
                    </a>
                </b>
                <span class="price">
                    <a title="Cropped Rip Curl Floral Marinho"
                        href="http://overboard.vtexlocal.com.br/cropped-rip-curl-floral-marinho-0621816000/p">
                        <span class="old-price">
                            DE: <strong>R$ 89,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 52,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba4999"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="25614"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="25614"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/cropped-rip-curl-floral-marinho-0621816000/p"
                        class="buy-button-asynchronous-product-url-4999"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/cropped-rip-curl-floral-marinho-0621816000/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod25614">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-25614">
                    <div class="buy-button-asynchronous message-user4999"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_4999" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="feminino">

            <span class="box-item text-center" data-sku="14384">

                <a class="product-image" title="Tênis Goofy Sleeve Preto"
                    href="http://overboard.vtexlocal.com.br/tenis-goofy-sleeve-preto-0396813026/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/171358-350-350/teste-sem-imagem.jpg?v=637191090855100000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Tênis Goofy Sleeve Preto"
                        href="http://overboard.vtexlocal.com.br/tenis-goofy-sleeve-preto-0396813026/p">
                        Tênis Goofy Sleeve Preto
                    </a>
                </b>
                <span class="price">
                    <a title="Tênis Goofy Sleeve Preto"
                        href="http://overboard.vtexlocal.com.br/tenis-goofy-sleeve-preto-0396813026/p">
                        <span class="old-price">
                            DE: <strong>R$ 229,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 139,90
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba3178"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="14384"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="14384"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/tenis-goofy-sleeve-preto-0396813026/p"
                        class="buy-button-asynchronous-product-url-3178"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/tenis-goofy-sleeve-preto-0396813026/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod14384">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-14384">
                    <div class="buy-button-asynchronous message-user3178"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_3178" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino">

            <span class="box-item text-center" data-sku="18298">

                <a class="product-image" title="Boné Quiksilver Brissbels Imp"
                    href="http://overboard.vtexlocal.com.br/bone-quiksilver-brissbels-imp-0476820000/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/175272-350-350/teste-sem-imagem.jpg?v=637193592562700000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Boné Quiksilver Brissbels Imp"
                        href="http://overboard.vtexlocal.com.br/bone-quiksilver-brissbels-imp-0476820000/p">
                        Boné Quiksilver Brissbels Imp
                    </a>
                </b>
                <span class="price">
                    <a title="Boné Quiksilver Brissbels Imp"
                        href="http://overboard.vtexlocal.com.br/bone-quiksilver-brissbels-imp-0476820000/p">
                        <span class="old-price">
                            DE: <strong>R$ 159,90</strong>
                        </span>
                        <span class="best-price">
                            POR: R$ 101,00
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba3930"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="18298"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="18298"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="http://overboard.vtexlocal.com.br/bone-quiksilver-brissbels-imp-0476820000/p"
                        class="buy-button-asynchronous-product-url-3930"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/bone-quiksilver-brissbels-imp-0476820000/p"
                            class="btn-add-buy-button-asynchronous btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod18298">Comprar</a></span><input type="hidden"
                        value="product" class="buy-button-asynchronous-go-to-cart-18298">
                    <div class="buy-button-asynchronous message-user3930"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_3930" style="display:none" class="helperComplement"></li>
        <li layout="ef3fcb99-de72-4251-aa57-71fe5b6e149f" class="masculino last">

            <span class="box-item text-center" data-sku="26395">

                <a class="product-image" title="Relógio Rip Curl Tour XL Preto e Dourado"
                    href="http://overboard.vtexlocal.com.br/relogio-rip-curl-tour-xl-preto-e-dourado-0626928006/p">
                    <img src="http://overboard.vtexlocal.com.br/arquivos/ids/183369-350-350/teste-sem-imagem.jpg?v=637194401622670000"
                        width="350" height="350" alt="teste-sem-imagem" id="">
                    <strong class="backflip-link"><em>ver detalhes</em></strong>
                </a>

                <b class="product-name">
                    <a title="Relógio Rip Curl Tour XL Preto e Dourado"
                        href="http://overboard.vtexlocal.com.br/relogio-rip-curl-tour-xl-preto-e-dourado-0626928006/p">
                        Relógio Rip Curl Tour XL Preto e Dourado
                    </a>
                </b>
                <span class="price">
                    <a title="Relógio Rip Curl Tour XL Preto e Dourado"
                        href="http://overboard.vtexlocal.com.br/relogio-rip-curl-tour-xl-preto-e-dourado-0626928006/p">
                        <span class="old-price"></span>
                        <span class="best-price">
                            POR: R$ 749,90
                        </span>
                    </a>
                </span>
                <div class="wrapper-buy-button-asynchronous bba5205"><input type="hidden"
                        value="Produto incluído no carrinho"
                        class="buy-button-asynchronous-product-message-success"><input type="hidden"
                        value="Produto não incluído no carrinho"
                        class="buy-button-asynchronous-product-message-fail"><input type="hidden" value="26395"
                        class="buy-button-asynchronous-product-id"><input type="hidden" value="26395"
                        class="buy-button-asynchronous-defaultsku-id"><input type="hidden"
                        value="/../no-cache/CarrinhoAdd.aspx?idSku=[idSku]&amp;quantidade=[quantidade]"
                        class="buy-button-asynchronous-product-url-5205"><span class="add"><a
                            href="http://overboard.vtexlocal.com.br/checkout/cart/add?sku=26395&amp;qty=1&amp;seller=1&amp;sc=1&amp;price=74990&amp;cv=49754d7c43431d1b8d8d85488feb72dd_&amp;sc=1"
                            class="btn-add-buy-button-asynchronous remove-href btn-not-clicked asynchronousBuyButton actionActivated vtexsm_activated .btover-active"
                            style="cursor:pointer" id="idprod26395">Comprar</a></span><input type="hidden" value="cart"
                        class="buy-button-asynchronous-go-to-cart-26395">
                    <div class="buy-button-asynchronous message-user5205"></div>
                </div>

            </span>
        </li>
        <li id="helperComplement_5205" style="display:none" class="helperComplement"></li>
    </ul>
</div>